html, body{
    height: 100%;
}


footer{
    background-color: rgb(184, 203, 232);
}


.sfondo_bello{
    background-color: rgb(51, 137, 218);
    opacity: 0.6;

    
}
    
   








/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }
   

   

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }
    
 
  
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }