html, body{
    height: 100%;
}


footer{
    background-color: rgb(184, 203, 232);
}
    
   
   
.card{
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
   overflow:hidden;
   border-radius:20px;
   min-height:450px;
     box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);

     &.card-has-bg{
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
         background-size:120%;
         background-repeat:no-repeat;
         background-position: center center;
         &:before {
           content: '';
           position: absolute;
           top: 0;
           right: 0;
           bottom: 0;
           left: 0;
           background: inherit;
           -webkit-filter: grayscale(1);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
         filter: grayscale(100%);}
       
         &:hover {
           transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
           background-size:130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
       
           .card-img-overlay {
             transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
             background: rgb(35,79,109);
            background: linear-gradient(0deg, rgba(4,69,114,0.5) 0%, rgba(4,69,114,1) 100%);
            }
         }
       }
        .card-footer{
         background: none;
          border-top: none;
           .media{
            img{
              border:solid 3px rgba(234,95,0,0.3);
            }
          }
        }
        .card-meta{color:orange}
        .card-body{ 
          transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
       }
        &:hover {
          .card-body{
            margin-top:30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          }
        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
       }
        .card-img-overlay {
         transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35,79,109);
       background: linear-gradient(0deg, rgba(35,79,109,0.3785889355742297) 0%, rgba(69,95,113,1) 100%);
       }
       }



    

      
    
    
  
      


      /*MEDIA QUERY*/

/*Little devices (little smartphone, 320px and up)*/ 
@media screen and (min-width: 320px) {
    .sol_card_top_3 {
        position: relative;
        top: 0;
      }

      .our_solution_category {
        width: 100%;
        margin: 0 auto;
      }
    
      .our_solution_category .solution_cards_box {
        flex: auto;
      }
    
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 


    
    
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .our_solution_category .solution_cards_box {
        flex: 1;
      }
 }

   

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
      }
      .our_solution_category {
        width: 50%;
        margin: 0 auto;
      }
    }
 
  
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }