html, body{
    height: 100%;
}


footer{
    background-color: rgb(184, 203, 232);
}


.section-background{
    background-color:cornflowerblue;
    border-bottom-right-radius:100%;

    
}

#image{
  position: absolute;
  z-index: 0;

}






* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }




/* CSS DI PROVA*/








/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
  
   

   

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  
}
    
 
  
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

   
        
 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

    
        
 }