html, body{
    height: 100%;
}


footer{
    background-color: rgb(184, 203, 232);
}


.section-background{
    background-color:cornflowerblue;
    border-bottom-right-radius:100%;

    
}

#image{
  background-image: url(images/A.png);
  position: absolute;
  z-index: -2;

}

.picture-scroll{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}








/* CSS DI PROVA*/








/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
  
   

   

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

  
}
    
 
  
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

   
        
 }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 

    
        
 }