html, body{
    height: 100%;
}


footer{
    background-color: rgb(184, 203, 232);
}
    
   

.heading_set{
    background-color: blue;

}






/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .our_solution_category .solution_cards_box {
        flex: 1;
      }
 }

   

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .sol_card_top_3 {
        position: relative;
        top: -3rem;
      }
      .our_solution_category {
        width: 50%;
        margin: 0 auto;
      }
    }
 
  
/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {  }